@charset "utf-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button,figure{margin:0;padding:0}
fieldset,img{border:0 none}
img {vertical-align:top;}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes:none}
blockquote:before, blockquote:after,q:before, q:after {content:"";content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
label {cursor:pointer}
html {height:100%;}
body {min-height:100%;background:#fff}
body,th,td,input,select,textarea,button {font-family:"Nanum Gothic","돋움",dotum,sans-serif;font-size:14px;color:#333;line-height:1.4;}
.mac #cHeader,.mac #container,.mac th,.mac td,.mac input,.mac select,.mac textarea,.mac button {font-family:"Apple SD Gothic NEO",helvetica,sans-serif;}
a {color:#333;text-decoration:none;}
a:active, a:hover {text-decoration:underline;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
legend {display:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block;}
table {width:100%;border-collapse:collapse;border-spacing:0;}/* table 초기화 */
h1,h2,h3 {line-height:1.2em;}
h1 {font-size:2.143em;}
h2 {font-size:1.714em;}
h3 {font-size:1.143em;}
th,td,input,select,textarea,button,h4,h5,h6 {font-size:1em;}
em, code {padding:3px 3px 1px;border-radius:3px;}
em {background-color:#dc295c;color:#fff;}
code {background-color:#f9f2f4;color:#c7254e;}

/* global */
.screen-out {display:block;overflow:hidden;position:absolute;left:-9999px;z-index:-1;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px;}
.screen-hide {font-size:0;line-height:0;visibility:hidden;}/* screen-out 클래스 사용할 수 없을 경우 */
.f-l {float:left;}
.f-r {float:right;}
.clearfix:after {display:block;clear:both;content:"";}
.show {display:block !important;}
.hide {display:none !important;}
.disp-ib {display:inline-block;}
.fw-b {font-weight:bold;}
.text-left {text-align:left;}
.text-center {text-align:center;}
.text-right {text-align:right;}

/* images */
.ico-comm {background:url(../images/ico-comm@x1.png) no-repeat;}
.btn-comm {display:block;overflow:hidden;background:url(../images/btn-comm@x1.png) no-repeat;text-indent:-9999px;}
.bg-c-header {background:url(../images/bg-c-header@x1.png) repeat 50% 0;}
a[target=_blank] {padding-right:18px;background:url(../images/ico-blank@x1.png) no-repeat 100% 40%;}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
	.ico-comm {background-image:url(../images/ico-comm@x2.png);background-size:25px auto;}
	.btn-comm {background-image:url(../images/btn-comm@x2.png);background-size:68px 36px;}
	.bg-c-header {background-image:url(../images/bg-c-header@x2.png);background-size:220px auto;}
	a[target=_blank] {background-image:url(../images/ico-blank@x2.png);background-size:14px auto;}
}

/* window 분기처리 */
.win .nav-lnb .list-lnb .link-lnb, #cHeader .txt {font-weight:bold;}

/* skipnav */
#skipNav {position:relative;z-index:950;}
#skipNav a {position:absolute;top:-30px;left:0;padding:7px 8px 6px;background-color:#000;font-size:0.857em;color:#fff;}
#skipNav a:active, #skipNav a:focus {top:0;cursor:pointer;text-decoration:none;}

/* layout */
#cHeader {position:relative;z-index:10;padding:0 10px;}
#container {padding:0 10px;}
#header:after, #container:after {display:block;clear:both;content:"";}
#content {position:relative;padding-bottom:10px;}
#snb {position:relative;margin:0 -10px;border-top:4px solid #e41313;background-color:#fcfcfb;}
#footer {position:relative;padding:25px 0 13px;border-top:2px solid #e41313;background-color:#3c414b;}

/* header */
.t-bar {display:none;background-color:#e41313;}
.t-bar .inner {max-width:1240px;margin:0 auto;padding:0 20px;}
.t-bar .inner:after {display:block;clear:both;content:'';}
.t-bar .inner .btn-write {float:right;padding:4px 0 5px 20px;background:url(../images/ico-write@pc.png) no-repeat 0 4px;font-size:12px;color:#fff;}
.navbar-header {position:relative;padding:15px 10px;}
.navbar-header:after {display:block;clear:both;content:"";}
.navbar-header .logo {float:left;line-height:0;}
.navbar-header .link-logo, .navbar-header .link-logo img {display:block;}
.navbar-header .btn-fold, .navbar-header .btn-write {overflow:hidden;position:absolute;top:50%;right:10px;width:30px;height:30px;margin-top:-15px;border-radius:3px;background-color:#e41313;text-indent:-9999px;}
.navbar-header .btn-write {right:45px;}
.navbar-header .btn-write .ico-comm {display:block;width:24px;height:23px;margin:2px 0 0 2px;background-position:0 -75px;}
.navbar-header .btn-fold:hover, .navbar-header .btn-fold:focus, .navbar-header .btn-write:hover, .navbar-header .btn-write:focus {box-shadow:inset -1px -1px 5px rgba(0, 0, 0, 0.2);}
.navbar-header .btn-fold:active, .navbar-header .btn-write:active {box-shadow:inset 1px 1px 5px rgba(0, 0, 0, 0.2);}
.menu-unfold .navbar-header .btn-fold {box-shadow:inset 0 0 5px rgba(0, 0, 0, 0.25);}
.navbar-header .btn-fold .ico-bar, .navbar-header .btn-fold .ico-bar:before, .navbar-header .btn-fold .ico-bar:after {position:absolute;left:4px;width:22px;height:4px;border-radius:4px;background-color:#fff;content:"";}
.navbar-header .btn-fold .ico-bar {display:block;top:7px;}
.navbar-header .btn-fold .ico-bar:before, .navbar-header .btn-fold .ico-bar:after {position:absolute;left:0;}
.navbar-header .btn-fold .ico-bar:before {top:6px;}
.navbar-header .btn-fold .ico-bar:after {top:12px;}
.nav-lnb {overflow:hidden;height:0;
	-webkit-transition: height 0.3s ease;
	-moz-transition: height 0.3s ease;
	-ms-transition: height 0.3s ease;
	-o-transition: height 0.3s ease;
	transition: height 0.3s ease;
}
.nav-lnb .list-lnb {padding:5px 10px 10px;background-color:#eeebe7;}
.nav-lnb .list-lnb li {margin-top:5px;}
.nav-lnb .list-lnb .link-lnb {display:block;position:relative;padding:5px 29px 5px 10px;border:2px solid transparent;border-radius:5px;background-color:#fff;font-size:1.143em;color:#e41313;text-decoration:none;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-ms-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
	transition: border 0.3s ease;
}
.nav-lnb .list-lnb .link-lnb:hover, .nav-lnb .list-lnb .link-lnb:focus {border-color:#e51919;}
.nav-lnb .list-lnb .on .link-lnb {border-color:#e51919;background-color:#e51919;color:#fff;}
.nav-lnb .list-lnb .link-lnb .ico-arr {position:absolute;top:50%;right:10px;width:8px;height:13px;margin-top:-7px;background-position:0 -25px;}
.nav-lnb .list-lnb .on .link-lnb .ico-arr {background-position:0 0;}

/* cHeader */
#cHeader .c-header-inner {padding:20px 0 25px;color:#fff;text-align:center;}
#cHeader .tit, .c-header .txt {text-shadow:1px 1px 1px rgba(0, 0, 0, 0.5);}
#cHeader .tit {font-size:3.571em;}
#cHeader .txt {padding-top:5px;}

/* footer */
#footer .btn-top {position:absolute;top:-23px;left:50%;width:68px;height:36px;margin-left:-34px;background-color:#fff;background-position:0 0;}
#footer .copyright {font-size:0.714em;color:#fff;text-align:center;}

/* snb */
.side-nav {padding:30px 10px 40px;}
.side-nav .list-snb:after {display:block;clear:both;content:"";}
.side-nav .list-snb > li {float:left;width:50%;}
.side-nav .list-snb a {display:block;padding:3px 0;color:#939cab;text-decoration:none;}
.side-nav .list-snb a:hover, .side-nav .list-snb a:focus {color:#111d2d;}
.side-nav .list-snb .on > a {font-weight:bold;color:#e51919;}
.side-nav .list-snb .list-sub {display:none;}
.side-nav .list-snb .on .list-sub {padding:0 0 10px 15px;}
.side-nav .list-snb .list-sub a {font-size:0.857em;}

/* page-zoom */
.list-zoom {overflow:hidden;position:absolute;top:32px;right:0;z-index:10;border:1px solid #cfd8e5;border-radius:3px;}
.list-zoom li {float:left;border-left:1px solid #ccc;}
.list-zoom li:first-child {border-left:0 none;}
.list-zoom .btn-zoom {display:block;overflow:hidden;position:relative;width:24px;height:24px;background-color:#2d374b;text-indent:-9999px;}
.list-zoom .btn-in:before, .list-zoom .btn-out:before, .list-zoom .btn-in:after {position:absolute;top:50%;left:50%;background-color:#fff;content:"";}
.list-zoom .btn-in:before, .list-zoom .btn-out:before {width:10px;height:2px;margin:-1px 0 0 -5px;}
.list-zoom .btn-in:after {width:2px;height:10px;margin:-5px 0 0 -1px;}
.list-zoom .btn-reset {position:relative;}
.list-zoom .ico-reset {position:absolute;top:50%;left:50%;width:10px;height:10px;margin:-5px 0 0 -5px;background-position:0 -50px;}

/* list-style */
.list-dot li, .ico-dot {position:relative;padding-left:10px;line-height:1.6em;}
.list-dot li:before, .ico-dot:before {position:absolute;top:0;left:0;content:"\b7\a0";}

/* content-common */
.section-docs {position:relative;margin:-1px 0 40px;padding-top:20px;border-top:1px solid #e8ecf5;}
.section-docs .tit-docs {margin-bottom:0.2em;padding-top:0.5em;}
.section-docs h2, .section-docs h3 {margin:1.4em 0 .2em;}
.section-docs a {color:#428bca;}
.section-docs a:hover, .section-docs a:focus {color:#2a6496;text-decoration:underline;}
.section-docs a:active {color:#e51919;}
.section-docs .txt-desc {margin:0.3em 0;color:#666;line-height:1.6em;}
.section-docs .source-code {overflow:hidden;margin:0.5em 0;border-radius:0.3em;font-size:0.857em;}
.bs-example {position:relative;padding:40px 10px 10px;border:1px solid #ccc;border-radius:0.3em;}
.bs-example:before {position:absolute;top:10px;left:10px;font-weight:bold;font-size:0.786em;color:#ccc;content:"EXAMPLE";}

/* content-tbl */
.wrap-tbl {margin:.4em 0;}
.tbl th, .tbl td {padding:0.571em;border:1px solid #ddd;}
.tbl th {border-bottom-width:2px;}
.tbl-stripe tr:nth-child(odd) td {background-color:#f9f9f9;}
.tbl-hover tr:hover td {background-color:#f9f9f9;}
.tbl .active td {background-color:#f9f9f9;}
.tbl .success td {background-color:#dff0d8;}
.tbl .info td {background-color:#d9edf7;}
.tbl .warning td {background-color:#fcf8e3;}
.tbl .danger td {background-color:#f2dede;}
.tbl-horizon th {border-bottom-width:1px;background-color:#f9f9f9;}
.tbl-horizon th, .tbl-horizon td {text-align:left;}

/* border-box */
.border-box {margin:.4em 0;padding:.4em;border:3px solid #ccc;}
.border-box img {max-width:100%;}

/* 768px 이상 */
@media screen and (min-width:769px) {
	/* layout */
	#header {max-width:1250px;padding:30px 10px 30px 20px;}
	#cHeader {padding:0 20px;}
	#container {padding-right:20px;padding-left:20px;}
	#snb {margin:0 -20px;}
	
	/* header */
	.t-bar {display:block;}
	.navbar-header {float:left;margin-top:9px;padding:0;}
	.navbar-header .btn-fold {display:none;}
	.navbar-header .btn-write {display:none;}
	.nav-lnb {overflow:visible;float:right;height:auto !important;}
	.nav-lnb .list-lnb {float:left;padding:0;background-color:transparent;}
	.nav-lnb .list-lnb li {float:left;margin-top:0;margin-right:4px;}
	.nav-lnb .list-lnb li:last-child {margin-right:0;}
	.nav-lnb .list-lnb .link-lnb {padding-right:10px;}
	.nav-lnb .list-lnb .link-lnb .ico-arr {display:none;}
	
	/* cHeader */
	#cHeader .c-header-inner {padding:45px 0 50px;text-align:left;}
	#cHeader .tit {font-size:4.286em;}
	
	/* snb */
	.side-nav {padding-right:20px;padding-left:20px;}
}

/* 980px 이상 */
@media screen and (min-width:980px) {
	/* layout */
	#container {padding-bottom:40px;}
	#content {float:left;width:75%;}
	#snb {float:right;width:25%;margin:0;border-top:0 none;background-color:transparent;}
	
	/* snb */
	.side-nav {padding-right:0;}
	.side-nav.fixed {position:fixed;top:0;padding-right:20px;}
	.side-nav .list-snb {max-width:249px;padding-left:20px;border-left:1px solid #cfd8e5;}
	.side-nav .list-snb > li {float:none;width:auto;}
	.side-nav .list-snb .on .list-sub {display:block;}
}

/* 1024px 이상 */
@media screen and (min-width:1025px) {
}
@media screen and (min-width:1280px) {
	/* layout */
	#header {margin:0 auto;}
	#container {max-width:1240px;margin:0 auto;}
	
	/* cHeader */
	#cHeader .c-header-inner {max-width:1240px;margin:0 auto;}
}