<div id="cHeader" class="c-header bg-c-header">
	<div class="c-header-inner">
		<h2 class="tit">코딩 시 참고 사항</h2>
		<p class="txt">cross browsing, javascript사용법 가이드입니다.</p>
	</div>
</div>
<div id="container">
	<article id="content" role="main">
		
		<div ng-include src=" 'convention/views/common/page-zoom.html' "></div>

		<!-- cross browsing -->
		<section class="section-docs">
			<h1 id="cross-browsing" class="tit-docs">cross browsing</h1>
			<ul class="list-dot">
				<li>IE7+</li>
				<li>firefox</li>
				<li>chrome</li>
				<li>safari</li>
				<li>opera</li>
			</ul>
		</section>
		<!-- //cross browsing -->
		<!-- font 단위변환 -->
		<section class="section-docs">
			<h1 id="font-size" class="tit-docs">font 단위변환</h1>
			<p class="txt-desc">
				<em>14px 기준</em>
			</p>
			<div class="wrap-tbl">
				<table class="tbl tbl-stripe">
					<colgroup>
						<col width="25%">
						<col width="25%">
						<col width="25%">
						<col width="25%">
					</colgroup>
					<thead>
						<tr>
							<th>px</th>
							<th>em</th>
							<th>px</th>
							<th>em</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1px</td>
							<td>0.071em</td>
							<td>21px</td>
							<td>1.5em</td>
						</tr>
						<tr>
							<td>2px</td>
							<td>0.143em</td>
							<td>22px</td>
							<td>1.571em</td>
						</tr>
						<tr>
							<td>3px</td>
							<td>0.214em</td>
							<td>23px</td>
							<td>1.643em</td>
						</tr>
						<tr>
							<td>4px</td>
							<td>0.286em</td>
							<td>24px</td>
							<td>1.714em</td>
						</tr>
						<tr>
							<td>5px</td>
							<td>0.357em</td>
							<td>25px</td>
							<td>1.786em</td>
						</tr>
						<tr>
							<td>6px</td>
							<td>0.429em</td>
							<td>26px</td>
							<td>1.857em</td>
						</tr>
						<tr>
							<td>7px</td>
							<td>0.500em</td>
							<td>27px</td>
							<td>1.929em</td>
						</tr>
						<tr>
							<td>8px</td>
							<td>0.571em</td>
							<td>28px</td>
							<td>2em</td>
						</tr>
						<tr>
							<td>9px</td>
							<td>0.643em</td>
							<td>29px</td>
							<td>2.071em</td>
						</tr>
						<tr>
							<td>10px</td>
							<td>0.714em</td>
							<td>30px</td>
							<td>2.143em</td>
						</tr>
						<tr>
							<td>11px</td>
							<td>0.786em</td>
							<td>31px</td>
							<td>2.214em</td>
						</tr>
						<tr>
							<td>12px</td>
							<td>0.857em</td>
							<td>32px</td>
							<td>2.286em</td>
						</tr>
						<tr>
							<td>13px</td>
							<td>0.929em</td>
							<td>33px</td>
							<td>2.357em</td>
						</tr>
						<tr>
							<td>14px</td>
							<td>1em</td>
							<td>34px</td>
							<td>2.429em</td>
						</tr>
						<tr>
							<td>15px</td>
							<td>1.071em</td>
							<td>35px</td>
							<td>2.5em</td>
						</tr>
						<tr>
							<td>16px</td>
							<td>1.143em</td>
							<td>36px</td>
							<td>2.571em</td>
						</tr>
						<tr>
							<td>17px</td>
							<td>1.214em</td>
							<td>37px</td>
							<td>2.643em</td>
						</tr>
						<tr>
							<td>18px</td>
							<td>1.286em</td>
							<td>38px</td>
							<td>2.714em</td>
						</tr>
						<tr>
							<td>19px</td>
							<td>1.357em</td>
							<td>39px</td>
							<td>2.786em</td>
						</tr>
						<tr>
							<td>20px</td>
							<td>1.429em</td>
							<td>40px</td>
							<td>2.857em</td>
						</tr>
					</tbody>
				</table>
			</div>
			<p class="txt-desc">
				참고 : <a href="http://pxtoem.com/" target="_blank">http://pxtoem.com</a>
			</p>
		</section>
		<!-- //font 단위변환 -->
	</article>
	
	<div ng-include=" 'convention/views/common/snb.html' "></div>
	
</div>
